<a href="https://colab.research.google.com/github/ayesha6622/-pythonproject/blob/main/codes1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = int (input("enter"))
b = int (input("enter"))
if(a>=b):
  print ("true")
else:
  print("false")

In [ ]:
list = [1,34,45,6,7,878,98797,97]
index = 0
while index < len(list):
  print(list[index])
  index+=1

In [ ]:
# search for a number x in this tuple using loop
tuple = (4,5,456,675,76,753,46,463,46)
i = 0
while i<len(tuple):
  print(tuple[i])
  i+=1

In [ ]:
nums = (1,2,35,6,61,7,8,86,4,3,3)
i=0
while i<len(nums):
  print(nums[i])
  i+=1

In [ ]:
list = [1,2,3]
for el in list:
  print (el)

In [ ]:
name = input ("enter your name ")
len = len (name)
print (len)

In [ ]:
i=1
while i<=5:
  print (i)
  i=i+1

1
2
3
4
5

In [ ]:
n = int (input("number"))
i=1
while(i<=10):
  print(n*i)
  i+=1

number5
5
10
15
20
25
30
35
40
45
50

In [ ]:
i = 1
while (i<=5):
  print ("hi")
  i+=1

hi
hi
hi
hi
hi

In [ ]:
nums = (1,23,4,5,6,7,8)

x=4
i=0
while i<len(nums):
  if(nums[i]==x):
    print("fount at index" ,i)
  else:
    print ("finding")
  i+=1

finding
finding
fount at index 2
finding
finding
finding
finding

In [ ]:
i=1
while(i<=10):
  if(i%2==0):
    i+=1
    continue
  print (i)
  i+=1

1
3
5
7
9

In [ ]:
name = "ayesha"
for elements in name:
  print (elements)

a
y
e
s
h
a

In [ ]:
str = "UPES"
for char in str:
  print(char)
else:
  print("end")

U
P
E
S
end

In [ ]:
LIST = (1,2,3,4,5,6,8,5,4,3,5,)
for el in LIST:
  print (el)

1
2
3
4
5
6
8
5
4
3
5

In [ ]:
list1 = []
print (type(list1))
list2 = [10,30,60]
list3 = [10,77,30,66,60,80]
list4 = ['one','two', 'three']
list5 = ['asif',25,[50,100],[150,90],{'john','david'}]
list6 = [100 , 'asif',17.765]
list7 = ['asif',25,[50]]
print(len(list6))
print(list2)

<class 'list'>
3
[10, 30, 60]

In [ ]:
list = [1,2,3,.4,5,6,7,8]
list [0]= 8
list [-1]= 1
print (list)

In [ ]:
list = ['a','b','d','df','fdf']
list [0] = "fdf"
list [-1] = a
print (list)